<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Perfil de Estudiante</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <!-- Encabezado -->
    <header>
        <h1>Santiago Arevalo Pinilla</h1>
    </header>

    <!-- Perfil -->
    <section class="perfil-estudiante">
        <img src="{{ url_for('static', filename='img/foto.jpg') }}" alt="Foto de perfil">

        <p>
            Soy estudiante de la universidad Catolica de Colombia 
            actualmente me encuentro estudiando ingenieria de sistemas,
            tengo 18 años y tengo como objetivo graduarme
        </p>
    </section>

    <!-- Habilidades -->
    <section class="lista-hobbies">
        <h2>Habilidades e Intereses</h2>
        <ul>
            <li>Cursando ingenieria en sistemas</li>
            <li>Me gustan los Juegos virtuales</li>
            <li>Me gusta realizar deportes</li>
        </ul>
    </section>

    <!-- Contacto -->
    <section class="info-contacto">
        <h2>Contacto</h2>
        <p>Email: sarevalo46@ucatolica.edu.co</p>
        <p>Teléfono: 3187245535</p>
    </section>

</body>

</html>